

/*
=====================================================================
    CONTAINERS ./ PAGE
=====================================================================*/
#page{
    position: relative;
    /*overflow: hidden;*/
}


body.boxed {
  margin: 0 auto;
  max-width: 1200px;
  background: #fff;
}

@media (min-width: 992px) {
  body.boxed #page {
    margin: 30px auto;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.30);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.30);
    border-radius: 6px;
  }
  body.boxed #page #top-bar
   {
    border-radius: 6px 6px 0 0;
  }

  body.boxed #page .footer-dark{
    border-radius: 0 0 6px 6px
  }

}

/*
====================================================================
    TOP NAVIGATION
====================================================================*/
/*#top-bar{
    line-height: 40px;
    background: #fff;
    color: #737373;
    font-size: 11px;
    border-bottom: 4px solid rgb(240,53,58);
    position: relative;
    z-index: 1
}*/
@media (max-width: 992px){
    #top-bar{
        /*display: none;*/
    }
}
#full-container{
    width: 100%;
    position: relative;
    min-height: 500px;
    background: #ccc;
    margin: auto;
    background: url(../images/demo/slider3.jpg) no-repeat 50% ;
}

.divider-full{
    width: 100%;
    text-align: center;
    float: left;
}

.feature-section{
    float: left;
    width: 100%;
    padding: 70px 0px;
    border-bottom: 1px solid rgba(141,141,141,.2);
    text-align: center;
}
.full-section{
    float: left;
    width: 100%;
    padding: 70px 0px;
    border-bottom: 1px solid rgba(141,141,141,.2);
    overflow: hidden;
}
/*
///////////////////////////////////////////////
MAP
//////////////////////////////////////////////
*/
.map-section{
    
}

.gmap3{
    margin: 0;
    width: 100%;
    height: 400px;
}

.error{
    color: #c0392b;
    font-style: italic;
    letter-spacing: normal;
}
#success, #error {
    display:none
}
#success span, #error span {
    display:block;
    position:absolute;
    top:0;
    width:100%
}
#success span p, 
#error span p {
    margin-top:6em
}
#success span p {
    color:#9bd32d
}
#error span p {
    color:#c0392b
}   


/*
=====================================================================
    MORE
=====================================================================*/
.one-edge-shadow {
    -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,.5);
       -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,.5);
            box-shadow: 0 8px 6px -6px rgba(0,0,0,.5);
}

.one-edge-shadow-bg {
    -webkit-box-shadow: 0 10px 10px -5px rgba(0,0,0,0.5);
       -moz-box-shadow: 0 10px 10px -5px rgba(0,0,0,0.5);
            box-shadow: 0 10px 10px -5px rgba(0,0,0,0.5);
}


.container-inner{
    padding-top: 70px;
    padding-bottom: 70px;
}

.bg-light-grey{
    background: #f5f5f5
}



/*
====================================================================
    STYLE BOX CENTER
====================================================================*/


.style-box{
    padding: 0;
    position: relative;
}
.style-box header{
    width: 100%;
    margin-bottom: 20px;
}

.style-box .fa {
    width: 100px;
    height: 100px;
    border:1px solid rgb(240,53,58);
    background-color: rgb(240,53,58);
    color: #fff;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    border-radius: 100%;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.style-box:hover .fa{
    color: rgb(240,53,58);
    background-color: transparent;
     transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.style-box .title{
    margin-bottom: 20px;
    width: 100%;
    padding-bottom:20px; 
    position: relative;
}

.style-box .title h3{
    margin: 0;
}

.style-box .title:after{
     content: "";
    border-bottom: 1px solid rgb(240,53,58);
    height: 0;
    left: 50%;
    margin-left: -15px;
    position: absolute;
    bottom: 0px;
    width: 30px;
}
.style-box .sub-title{
    font-size: 12px;
    text-transform: uppercase;
    color: rgba(0,0,0,.7);
    margin: 0;
    letter-spacing: 1px;
    font-weight: 600
}

.style-box .box-desc{
    padding: 0 10px;
}


@media(max-width: 992px){
    .style-box{
    margin-bottom: 40px;
}
}



/*
====================================================================
    STYLE BOX CENTER WITH BACKGROUND
====================================================================*/


.style-box1{
    padding: 0;
    position: relative;
}
.style-box1 header{
    width: 100%;
    margin-bottom: 8px;
}

.box-with-bg{
    background: #f1f1f1;
    padding: 15px 10px;
    border-radius: 4px;
    position: relative;
    border:1px solid #e1e1e1;
}

.box-with-bg:before{
   display: block;
    content:" ";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #e1e1e1;
    position: absolute;
    top: -8px;
    left: 50%;
    margin-left: -4px;
}
.style-box1 .fa {
    width: 100px;
    height: 100px;
    border:1px solid rgb(240,53,58);
    background-color: rgb(240,53,58);
    color: #fff;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    border-radius: 100%;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.style-box1:hover .fa{
    color: rgb(240,53,58);
    border-color: rgb(225,225,225);
    background-color: #f1f1f1;
     transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.style-box1 .title{
    margin-bottom: 20px;
    width: 100%;
    padding-bottom:20px; 
    position: relative;
}

.style-box1 .title h3{
    margin: 0;
}

.style-box1 .title:after{
     content: "";
    border-bottom: 1px solid rgb(240,53,58);
    height: 0;
    left: 50%;
    margin-left: -15px;
    position: absolute;
    bottom: 0px;
    width: 30px;
}
.style-box1 .sub-title{
    font-size: 12px;
    text-transform: uppercase;
    color: rgba(0,0,0,.7);
    margin: 0;
    letter-spacing: 1px;
    font-weight: 600
}

.style-box1 .box-desc{
    padding: 0 10px;
}


@media(max-width: 992px){
    .style-box1{
    margin-bottom: 40px;
}
}


/*
====================================================================
    vertical feature list
====================================================================*/

.vertical-features{
    margin: 30px 0 0 0;
}

.vertical-list ul{
    margin: 0;
    padding: 0;
}

.vertical-list li{
    position: relative;
    padding-bottom: 30px;
    margin: 0;
    list-style: none;
    min-height: 80px;
    margin-left: 18px;
}

.vertical-list .vertical-icons .fa{
    width: 60px;
    height: 60px;
    border:1px solid rgb(240,53,58);
    background-color: rgb(240,53,58);
    color: #fff;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    border-radius: 100%;
    margin-bottom: 20px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    float: left;
    position: relative;
    z-index: 1;
    margin-right: 30px;
}

.vertical-list li:hover .fa{
    color: rgb(240,53,58);
    background-color: #222;
    border-color: #222;
     transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.vertical-list .vertical-content{
    overflow: hidden;
}

.vertical-list .vertical-content h3{
   
    font-size: 22px;
    margin-bottom: 12px;
    top: 10px;
    margin-bottom: 25px;-webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.vertical-list .vertical-content p{
    font-size: 12px;
    line-height: 18px;
    color: #222
}


.vertical-list li:hover .vertical-icons{
    
    background: rgb(240,53,58);
    border-color: rgb(240,53,58);
}


.tm{
    position: absolute;
top: 1%;
left: 30px;
width: 1px;
height: 100%;
border-right-width: 1px;
border-right-style: solid;
border-color: rgba(255,255,255,1);
}


/*
====================================================================
    TOP HEADER
====================================================================*/

#top-bar{
    line-height: 40px;
    background: #fff;
    color: #737373;
    font-size: 11px;
    border-bottom: 4px solid rgb(240,53,58);
    z-index: 100
}

#top-bar.dark{
    background: #181818;
    border-bottom: 0px solid rgb(240,53,58);
}


.top-info ul{   
    position: relative;
    margin: 0;
    list-style: none;

}
.top-info ul li{
    margin: 0;
    margin-right: 15px;
    display: inline-block;
}

.top-info li > .fa {
    font-size: 12px;
    width: 24px;
    height: 24px;
    text-align: center;
    vertical-align: middle;
    line-height: 24px;
    border: 1px solid rgba(115,115,115,.7);
    border-radius: 100%;
    margin-right: 2px;
}

@media(max-width: 767px){
    .top-info >li{
        text-align: center;
        float: none;
        display: inline-block;
    }
    .top-info{        
    text-align: center;
    }
}






/*
====================================================================
    5 SOCIAL ICONS
====================================================================*/


.social-icon a{
    color: rgb(115,115,115)
}

.social-icon a > .fa  {
    font-size: 14px;
    width: 28px;
    height: 28px;
    text-align: center;
    vertical-align: middle;
    line-height: 28px;
    border: 1px solid rgba(115,115,115,.7);
    border-radius: 50%;
    border-color: rgba( 115,115,115,.7);
    margin-right: 5px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}


.social-icon.right{
    text-align: right;
    padding-right: 45px;
}

.social-icon a:last-child{
}


.flat-social-icons li{
   float: left;
   font-size: 14px;
list-style: none;
border-right: 1px solid rgba(0,0,0,0.05);
margin: 0;
position: relative;
padding: 0;
}

.flat-social-icons.right{
    float: right;
}

.flat-social-icons  li  a  .fa{
    display: block;
    width: 30px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #9a9a9a;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}


.social-icon a:hover.facebook .fa,
.flat-social-icons a:hover.facebook .fa{
    background-color: #4863AE;
    border-color: #4863AE;
    color: #fff;
}

.social-icon a:hover.twitter .fa,
.flat-social-icons a:hover.twitter .fa{
    background-color: #46C0FB;
    border-color: #46C0FB;
    color: #fff;
}

.social-icon a:hover.google .fa,
.flat-social-icons a:hover.google .fa{
    background-color: #DD4B39;
    border-color: #DD4B39;
    color: #fff;
}

.social-icon a:hover.linkedin .fa,
.flat-social-icons a:hover.linkedin .fa{
    background-color: #0083A8;
    border-color: #0083A8;
    color: #fff;
}

.social-icon a:hover.dribbble .fa,
.flat-social-icons a:hover.dribbble .fa{
    background-color: #EA4C89;
    border-color: #EA4C89;
    color: #fff;
}

.social-icon a:hover.youtube .fa,
.flat-social-icons a:hover.youtube .fa{
    background-color: #FF0000;
    border-color: #FF0000;
    color: #fff;
}

.social-icon a:hover.flickr .fa,
.flat-social-icons a:hover.flickr .fa{
    background-color: #FF0084;
    border-color: #FF0084;
    color: #fff;
}

.social-icon a:hover.pinterest .fa,
.flat-social-icons a:hover.pinterest .fa{
    background-color: #C91618;
    border-color: #C91618;
    color: #fff;
}

.social-icon a:hover.rss .fa,
.flat-social-icons a:hover.rss .fa{
    background-color: #FF7F25;
    border-color: #FF7F25;
    color: #fff;
}

.social-icon a:hover.tumblr .fa,
.flat-social-icons a:hover.tumblr .fa{
    background-color: #5a90be;
    border-color: #5a90be;
    color: #fff;
}

.social-icon a:hover.instagram .fa,
.flat-social-icons a:hover.instagram .fa{
    background-color: #3F729B;
    border-color: #3F729B;
    color: #fff;
}




/*
====================================================================
    FOOTER
====================================================================*/

.footer-dark{
    background: #181818;
    color: #8f8f8f;
    border-top: 4px solid #d2d2d2;
    
}

.footer-widget{
    position: relative;
    margin-bottom: 20px;
}

.footer-widget  ul.blog-list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-widget  ul.blog-list > li{
    margin: 0;
    padding: 5px 0;
    position: relative;
    border-bottom: 0px solid rgba(0,0,0,.2);
    overflow: hidden;
    margin-bottom: 10px
}

.footer-widget ul.blog-list li:after{
    width: 100%;
    content: "";
    border-bottom: 1px solid rgba(255,255,255,.05);
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer-widget h6{
    font-size: 14px;
    text-transform: none !important;
    font-weight: normal;
    margin-bottom: 4px !important
}

.footer-widget ul.blog-list > li em{
    color: #838383;
font-size: 11px;
font-style: normal;
}
.footer-widget .recent-post{

}

.footer-dark a{
    color: #c5c5c5;
}
.footer-dark a:hover{
color:  rgb(240,53,58);

}
.footer-dark h2{
    color: #ccc
}

.faddress{
    position: relative;
    margin: 10px 0;
}

.faddress i{
    display: block;
    float: left;
    margin-right: 10px;
     font-size: 12px;
    width: 24px;
    height: 24px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    border: 1px solid rgba(115,115,115,.7);
    border-radius: 50%;
    border-color: rgba( 115,115,115,.7);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.faddress .ftext{
    margin-bottom: 10px;
    display: block;
    overflow: hidden;
    
}


.sub-footer-dark{
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.2);
    padding: 20px 0;
    font-size: 12px;
    margin: 0;
    position: relative;
}

.sub-footer-dark:before{
    width: 100%;
content: "";
border-top: 1px solid rgba(255,255,255,.05);
position: absolute;
top: 0;
left: 0;
}

.sub-footer-light{
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.2);
    padding: 20px 0;
    font-size: 12px;
    margin: 0;
    background: #fff;
    position: relative;
}

.footer-menu{
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-menu li{
    display: inline-block;
    padding-left: 10px;
}

ul.footer-list{
    margin: 0;
    padding: 0;
}

ul.footer-list li{
    margin: 0;
    border-bottom: 1px dotted #333;
    position: relative;
    float: left;
    width: 100%
}

ul.footer-list li > a{
    display: block;
    padding: 4px 6px;
}


/*//////////////////////////////////////////////////////////*/
/*twitter list*/
/*//////////////////////////////////////////////////////////*/

#tweecool ul{
margin: 0;
padding: 0;
}

#tweecool ul > li {
list-style: none;
clear: both;
padding-bottom: 5px;
margin-bottom: 10px;
overflow: hidden;
}

#tweecool  li > a  {
float: left;
position: relative;
border:1px dotted #333; 
margin-right: 20px;
padding: 2px;
}

#tweecool  li > a img{width: 50px;
height: 50px;
-webkit-border-radius: 100%;
-moz-border-radius: 100%;
border-radius: 100%;
border: 2px solid rgba(255,255,255,0.05);}

#tweecool ul > li .tweets_txt {
display: block;
overflow: hidden;
line-height: normal;
}

#tweecool ul li .tweets_txt > a{
    float: none;
    color: rgb(240,53,58);
margin-top: -8px;
}

#tweecool ul li .tweets_txt span {
font-style: italic;
color: rgb(240,53,58);
display: block;
}


/*//////////////////////////////////////////////////////////*/
/*flickr list*/
/*//////////////////////////////////////////////////////////*/


ul.flickr-widget  {
    overflow: hidden;
}

ul.flickr-widget li {
    float: left !important;
    margin:0;
    margin-right: 5px;
    border-bottom: none !important;
}

ul.flickr-widget li:nth-child(3n+1) {
    margin-left: 0;
}

ul.flickr-widget  li a {
    display: inline-block;
    width: 80px;
    opacity: 0.8;
    border: 4px solid #333;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

ul.flickr-widget  li a img {
    width: 100%;
}

ul.flickr-widget  li a:hover {
    opacity: 1;
    border: 4px solid rgb(240,53,58);
}






/*
====================================================================
    5 SEARCH
====================================================================*/

.sb-search {
    position: absolute;
    width: 0%;
    right: 15px;
    top: 0;
    min-width: 30px;
    height: 40px;
    overflow: hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
    -webkit-backface-visibility: hidden;
}

.sb-search-input {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    background: rgba(255,255,255,.8);
    width: 96%;
    height: 40px;
    margin: 0;
    padding: 0px 3% 0px 1%;
    line-height: 20px;
    border-left: 2px solid rgb(240,53,58) !important;
    z-index: 1
}

.hd-center .sb-search {
   
    min-width: 30px;
    height: 55px;
}
.hd-center .sb-search-input {
    
    background: rgba(11,28,51,.8);
    width: 97%;
    height: 51px;
    margin: 0;
    padding: 0px 2% 0px 1%;
    line-height: 30px;
    z-index: 1
}

.hd-center .sb-icon-search,
.hd-center .sb-search-submit  {
    width: 30px;
    height: 51px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}

.sb-search form input[type="text"] {
    border: 0px solid rgba(160, 160, 160, 0.3);
    box-shadow: none;
}


.sb-icon-search,
.sb-search-submit  {
    width: 30px;
    height: 40px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.sb-search-submit {
    background: #fff; /* IE needs this */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
    color: transparent;
    border: none;
    outline: none;
}

.sb-icon-search {
    color: #fff;    
    background: rgb(240,53,58);
    z-index: 90;
    font-size: 16px;
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}

.sb-icon-search:before {
    content: "\f002";
}

/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
    width: 100%;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
    background: #fff;
    color: rgb(240,53,58);
    z-index: 11;
}


.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
    z-index: 90;
}



.full-width-recent-projects .projects-carousel {
    width: 100% !important;
    
}

.full-width-recent-projects .projects-carousel .item {
    margin: 0;border-top: 10px solid #eaeaea;
    border-bottom: 10px solid rgb(240,53,58);
}

.margin-def .item{
    position: relative;
    margin-bottom: 30px;
    padding: 0 10px;
}

/*
=====================================================================
    CAROUSEL
=====================================================================*/

.ccarosel .owl-controls .owl-buttons {
    position: absolute;
    top: 0px;
    right: 0px;
}

.ccarosel.projects-carousel .owl-controls .owl-buttons {
    right: 0px;
}

.ccarosel.navigation-2 .owl-controls .owl-buttons {
    position: relative;
    top: 0;
    right: 0;
}

.ccarosel.navigation-2.clients-carousel .owl-controls .owl-buttons {
    top: -8px;
}

.ccarosel.navigation-2 .owl-controls .owl-buttons div, 
.ccarosel.navigation-3 .owl-controls .owl-buttons div{
    background-color: #000;
}

.ccarosel.navigation-2 .owl-controls .owl-buttons div i, 
.ccarosel.navigation-3 .owl-controls .owl-buttons div i{
    color: #666;
}

.ccarosel.navigation-3 {
    padding-top: 0px;
}

.ccarosel.navigation-3.clients-carousel {
    padding-top: 0px;
}

.ccarosel.navigation-3 .owl-controls .owl-buttons {
    position: absolute;
    top: 20px;
    right: 0;
    width: 100%;
    background: #f00
}
.ccarosel .owl-controls .owl-buttons .owl-prev {
    position: absolute;
    top: 80px;
    left: 15px;
    pointer-events: auto;
}
.ccarosel .owl-controls .owl-buttons .owl-next {
    position: absolute;
    top: 80px;
    right: 15px;
    pointer-events: auto;
}

.ccarosel.navigation-2 .owl-controls .owl-buttons div, 
.ccarosel.navigation-3 .owl-controls .owl-buttons div {
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
}

.ccarosel.navigation-3.projects-carousel .owl-controls .owl-buttons {
    right: 0;
}

.ccarosel .owl-controls .owl-buttons div, 
.testimonials-carousel .owl-controls .owl-buttons div {
    height: 22px;
    width: 22px;
    line-height: 22px;
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    background-color: #fff;
    margin-left: 4px;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.ccarosel .owl-controls .owl-buttons div i, 
.testimonials-carousel .owl-controls .owl-buttons div i {
    font-size: 1.6em;
    color: #f00;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}


.team-carousel .owl-controls .owl-buttons .owl-prev {
    position: absolute;
    top: 100px;
    left: 0px;
    pointer-events: auto;
}
.team-carousel .owl-controls .owl-buttons .owl-next {
    position: absolute;
    top: 100px;
    right: 0px;
    pointer-events: auto;
}



/*///////////////////////////////////////////////////////*/
    /*parallex and backgrounds*/
/*///////////////////////////////////////////////////////*/

.parallexbg{
    width: 100%;
    height: 100%;
    background: url(../images/demo/bg2.jpg) #333;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    
}


.background1{
    background: url(../images/bg-images/bg1.jpg) #fff;
}

.background2{
    background: url(../images/bg-images/bg2.jpg) #fff;
}

.background3{
    background: url(../images/bg-images/bg4.jpg) #fff;
}
.background6{
    background: url(../images/bg-images/bg6.jpg) #fff;
}


/*
    ===============================
    001  ///  TITLE HEADINGS
    ===============================
*/
.section-title{
    margin-bottom: 50px;

}
.section-title.center{
    text-align: center;
}

.section-title.right{
    text-align: right;
}

@media(max-width: 992px){
    .section-title,
    .section-title.center,
    .section-title.right{
        text-align: center;
    }
}

.section-title > h2{
     font-size: 30px;
    font-weight: 700;
    margin-bottom: 0;    
}
.dark .section-title > h2{
    color: #fff
}

.section-title .icon{
    display: inline-block;
    font-size: 18px;
    width: 80px;
    margin: 0 auto;
    margin-left: 7px;
    margin-right: 7px;
    position: relative;
    height: 1px;
    background: rgb(240,53,58);
}

.section-title .icon:before {
    display: inline-block;
    content: "";
    border: 1px solid rgb(240,53,58);
    position: absolute;
    left: -7px;
    top: -3px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
}

.section-title .icon:after {
    display: inline-block;
    content: "";
    border: 1px solid rgb(240,53,58);
    position: absolute;
    right: -7px;
    top: -3px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
}



.bg-pattern-1{
    background:url(../images/pattern/bg-pattern-1-s.png) repeat;
}


/*
    ===============================
    002  ///  PAGE HEADER
    ===============================
*/


.page-header {
    margin: 0;
    padding: 40px 0;
    border-bottom: 1px solid rgba(0,0,0,.06);
    height: 100px;
    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, .05);
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .05);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .05);
    background: #f1f1f1
}

.page-header.p-bg1{
    background: #f1f1f1
}

.page-header.big{
   height: auto;
    padding: 0;
    overflow: hidden;
}
.page-header .heading-title{
    position: relative;
    vertical-align: middle;
}

.page-header .heading-title > h2 {
    font-size: 32px;
    font-weight: 600;
    position: relative;
    margin-bottom: 0 !important;
}

.page-header.dark h2{
    color: #fff !important;
}


@media(max-width: 991px){

    .page-header.style-big{
    
}
    .page-header > h2{
        text-align: center;
        padding-bottom: 0
    }
}


.page-header.bg-pattern{
    padding-top: 30px;
}
.page-header.style-flat{
    padding-top: 30px;
    background: #dadada
}

.page-header.light-color h2{
    color: #666
}

.page-header-small {
width: 100%;
font-size: 18px;
padding: 35px 0;
color: #999;
}

.page-header-small h2 {
font-size: 36px;
display: inline-block;
font-weight: 300;
padding: 0;
color: #fff;
position: relative;
}

/*
    ===============================
    003  ///  BREADCRUMB
    ===============================
*/
.page-header .breadcrumb{
    text-align: right;
    margin: 0;
    padding: 0;
    padding-bottom: 24px;
    position: relative;
    margin-top: 0px;
    background: none;
}
.page-header .breadcrumb li{
    display: inline-block;
    font-size: 10px;
    text-transform: uppercase;
    list-style: none;
    position: relative;
}

.page-header .breadcrumb > li + li:before {
    content: "||";
    padding: 0px 5px;
    color: rgb(240,53,58);
}

.page-header .breadcrumb a{
    color: #fff
}

.page-header.light-color .breadcrumb a{
    color: #666
}

.page-header.light .breadcrumb a{
    color: #333
}
@media(max-width: 991px){
    .page-header .breadcrumb{
        text-align: center;
        padding: 5px 0;
    }
}

/*
    ===============================
    004  ///  PROGRESS BAR
    ===============================
*/
.skills {}

.progress {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  height: 30px;
  margin-bottom: 14px;
  overflow: hidden;
  background-color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 2px solid #d5d5d5
}
.progress.border-radius {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
.progress-bar {
  font-size: 12px;
  filter: none;
  text-transform: uppercase;
  padding: 0 5px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  line-height: 30px;
  text-align: right;
  text-indent: 10px;
  text-shadow: none;
  -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear;
  position: relative;
  
}
.progress .progress-label{
    float: left;
}

.progress-data{
    font-weight: 900;
    background: rgba(0,0,0,.4);
    position: absolute;
    right: 0;
    text-align: center;
    padding: 0 5px;
}
.progress-striped{
  background-color: #fff;
}

.progress-info ,
.progress-info.progress-striped{
  background-color: #0098ca;
}
.progress-success ,
.progress-success.progress-striped{
  background-color: #738d00;
}
.progress-warning ,
.progress .bar-warning,
.progress-warning.progress-striped ,
.progress-striped .bar-warning {
  background-color: #f89406;
}
.progress-danger ,
.progress-danger.progress-striped{
  background-color: #c10841;
}




/*
    ===============================
    008  ///  TESTIMONIALS
    ===============================
*/

.testimonial.option2{
    text-align: left !important;
    padding: 10px;
    border: 1px solid #eaeaea
}


.testimonial{
    padding: 0px 0;
    text-align: center;
}

.testimonial .testimonial-pic img{
    margin: 0 auto;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border: 6px solid #fff;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.testimonial:hover .testimonial-pic img{
    border: 6px solid rgb(240,53,58);

}
.testimonial p{
    line-height: 24px;
    text-align: center;
}

.testimonial .author{
    font-size: 11px;
    text-transform: uppercase;
    margin-top: 10px;
    color: rgb(240,53,58);
}

.navigation1 .owl-controls .owl-buttons div,
.team-carousel .owl-controls .owl-buttons div{
    border: 1px solid rgb(240,53,58);
    display: inline-block;
    line-height: 48px;
    font-size: 24px;
    position: absolute;
    top: 10%;
    width: 48px;
    text-align: center;
    vertical-align: middle;
    height: 48px;
    border-radius: 50%;
    background: transparent;
    color: #333;
    margin: 0;
    padding: 0;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.navigation1 .owl-controls .owl-page,
.team-carousel .owl-controls .owl-page{
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
}
.navigation1 .owl-controls .owl-page span,
.team-carousel .owl-controls .owl-page span{
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #869791;
}

.navigation1 .owl-controls .owl-page.active span,
.navigation1 .owl-controls.clickable .owl-page:hover span,
.team-carousel .owl-controls .owl-page.active span,
.team-carousel .owl-controls.clickable .owl-page:hover span{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
    background: rgb(240,53,58);
   
}


.center-owl-nav .owl-controls .owl-buttons div{
    top: 40%;
}

.navigation1 .owl-theme .owl-pagination,
.team-carousel .owl-theme .owl-pagination{
    position: absolute;
    right: 0;
    bottom: 20px;
    background: #000;
    padding: 5px;
    border-radius: 4px 0 0 4px;
    opacity: .5
}
/*
    ===============================
    009  ///  TEAM
    ===============================
*/

.team-box{
    margin-bottom: 20px;
    display: block;
    overflow: hidden;
}

.team-box:hover .team-member{
    border-bottom: 5px solid rgb(240,53,58);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.team-box .team-member{
    border-bottom: 5px solid transparent;
    position: relative;
}

.team-box .team-member img{
    max-width: 100%;height: auto;
}

.team-box h2{ 
    margin-bottom: 5px
}

.team-desc{
    padding: 15px;
    border: 1px solid #eaeaea;
    
}

.team-desc > p{
    height: 120px;
    overflow: hidden;
}

.team-box .team-role
{
    color: rgb(240,53,58);
    font-size: 11px;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: inline-block;
}


.team-member:hover .item-overlay{
    opacity: 1;
    filter: alpha(opacity=100);
}


.team-member .item-overlay .p-item-nav{
    position: absolute;
    bottom: 2px;
    top: 50%;
    margin-left: -22px;
    margin-top: -22px
}

.team-single{
    display: block;
    position: relative;
    border: 0px solid rgba(0,0,0,.05);
    z-index: 1
}

.team-single .team-overlay{
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    display: block;
    padding: 30px;
    z-index: 3;
    background: rgb(240,53,58);
}


.team1{
    background: url(../images/team/member.jpg) no-repeat center #fff;
    height: 352px;
    padding: 60px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    overflow: hidden;
}
.team-over{
    
    padding: 15px 0;
    z-index: 3;
    background: rgb(240,53,58);
}

@media(max-width:992px) and (min-width: 767px){
    
    .team-box .team-member{
    border-bottom: 0px solid #eaeaea;
    position: relative;
    float: left;
    margin-right: 30px;
    }

.projects-carousel .team-box .team-member{
    border-bottom: 0px solid #eaeaea;
    position: relative;
    float: none;
    margin-right: 0px;
    }

    .team-desc{
    border: 0px solid #eaeaea !important;
    }

    .team-box{
    border: 1px solid #eaeaea !important;
    }

}

/*
    ===============================
    010  ///  SIDEBAR / WIDGETS
    ===============================
*/
aside .widget {
margin: 0 0 48px;
}

.widget #searchform {
display: inline-block;
width: 100%;
overflow: hidden;
background-color: #fff;
border: 1px solid #eaeaea;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-o-border-radius: 4px;
-ms-border-radius: 4px;
border-radius: 4px;
}

.widget-list{
    margin: 0;
}

.widget-inner{}

.widget-list ul li       { 
    margin: 0 0 7px 0 
}
.widget-list ul li:before{
    content: "\f138";
    font-family: 'FontAwesome';
    margin-right: 10px;
    display: inline-block;
    font-size: 14px;
}

.widget-list ul li a{
    color: rgb(240,53,58);
}

.widget-list ul li a:hover{
    color: rgb(0,0,0);
}

.widget .post-list{
    margin: 0;
    border: 1px solid #eaeaea;
    border-radius: 4px;
}

.widget .post-list > li{
    margin: 0;
    padding: 8px 0;
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #eaeaea;
}
.widget .post-list > li:last-child{
    border-bottom: none;
}


.widget .post-list .img-post{
    float: left;
    width: 75px;
    margin-left: 5px;
}

.post-list .meta {
margin-left: 90px;
overflow: hidden;
margin-bottom: 0;
}

.post-list .meta h5{
    margin: 0;
}

.post-list .meta em{
    font-size: 11px;
    color: #ccc
}

.widget-cloud .tagCloud a {
display: inline-block;
padding: 4px 8px;
border: 1px solid #cecece;
border-radius: 4px;
margin: 0 3px 6px 0;
-webkit-transition: 0.2s;
transition: 0.2s;
}

.widget-cloud .tagCloud a{
    background: rgb(240,53,58);
    border: 1px solid rgb(240,53,58);
    color: #fff
}
.widget-cloud .tagCloud a:hover{
    background: rgb(0,0,0);
    border: 1px solid rgb(0,0,0);
    color: #fff
}

/*
    ===============================
    011  ///  BLOG / WIDGETS
    ===============================
*/
iframe {
    border: none;
    max-width:100%;
    display:block
}
.blog-widget{
    padding-left: 86px;
    position: relative;
    overflow: hidden;
    padding-bottom: 80px;
}

.blog-widget .blog-header{
    position: relative;
}

.blog-widget > .tm{
    position: absolute;
top: 1%;
left: 36px;
width: 2px;
height: 100%;
border-right-width: 2px;
border-right-style: solid;
border-color: rgba(0,0,0,.1);
}
.blog-widget .blog-header > h2{
    margin-bottom: 5px;
}

.blog-header > .blog-meta{
    font-size: 11px;
    text-transform: uppercase;
}

.blog-header > .blog-meta > span:after{
    content: '||';
    color: #f00;
    display: inline-block;
    padding: 0 5px;
}

.blog-header > .blog-meta > span:last-child:after{
    display: none;
}

.blog-widget .date-icon{
    position: absolute;
    left: 0px;
    width: 74px;
    height:74px;
    border-radius: 50%;
    line-height: 74px;
    text-align: center;
    z-index: 1
}
.blog-widget:hover .date-icon{
    background: rgb(240,53,58);
    color: #fff
}

.blog-widget .blog-element{
padding: 8px;
border: 1px solid #eaeaea;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
position: relative;
margin: 30px auto 0 auto;
text-align: center;
}

.blog-widget .blog-element-media{
padding: 8px;
border: 1px solid #eaeaea;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
position: relative;
margin: 30px auto 0 auto;
}

.blog-element-slider{}

.blog-widget .blog-summary{
    margin-top: 30px;
}

.date-icon.option1{
    border: 2px solid rgb(240,53,58);
    background: #fff;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.blog-widget blockquote small{
    margin-top: 10px;
    text-align: right;
}

.blog-widget blockquote{ 
    border-left: 2px solid #fc3250}

/*.date-icon.option1:after{
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    display: block;
    background: #000;
    left: 36px;
    top:72px
}*/
.date-icon >span{
    font-size: 12px;
}

/*blog hr*/

.blog-hr{
    margin: 0px 0 0 36px;
    padding: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1)
}

/*blog-small*/

.blog-sm > .blog-element,
.blog-sm > .blog-summary,
.blog-sm > .blog-element-media
{
    width: 46%;
    float: left;
}

.blog-sm > .blog-summary
{
    margin-left: 4%;
}


.blog-comments                    {
                                      margin: 40px 0;
                                      border: 0px solid #eaeaea;
                                      padding: 10px 0;
                                      margin-left: 36px
                                  }
.blog-comments .media{
    background: #f5f5f5;
    padding: 10px 15px;
}

.blog-comments .media .media{
    background: #fff;
    border-radius: 6px;
    border: 1px solid #eaeaea
}

.media .pull-left img             {
                                      -webkit-border-radius: 50%;
                                      -moz-border-radius: 50%;
                                      border-radius: 50%;
                                  }
.comment-info                     {
                                      border: 0px solid #eaeaea;
                                      margin-top: 20px;
                                      margin-bottom: 20px;
                                  }

h4.media-heading{
    font-weight: 600;
    color: rgb(240,53,58);
}

/*
=====================================================================
    PRICING TABLE
=====================================================================*/
.pricing-wrap{
    padding: 20px 15px; 
    text-align: center;
    margin-bottom: 30px;
}

.pricing-box{
    padding:0;
    margin: 0 -14px 0 -17px ;
    border: 1px solid rgb(234,234,234);
    text-align: center;
    position: relative;
}

.pricing-box .select-plan{
    position: relative;
    bottom: -26px;
    text-align: center;
    padding: 5px 0;
}

.pricing-box .select-plan.selected{
    bottom: -34px;
   
}

.pricing-box.selected{
    -moz-box-shadow: 0 3px 15px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, .2);
    box-shadow: 0 3px 15px rgba(0, 0, 0, .2);
    z-index: 5;
    border: 10px solid rgba(255,255,255,1);
    position: relative;
    top:-9px
}

h3.price-title{
    font-size: 24px;
    font-weight: 600;
    padding: 20px;
    margin: 0;
     border-bottom: 1px solid rgb(234,234,234);
}

h3.price-title:after{
    display: block;
    content:" ";
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid rgb(234,234,234);
    position: absolute;
    bottom: -12px;
    left: 50%;
    margin-left: -12px;
}

h3.price-title.selected{
   background: rgb(240,53,58);
   color: #fff;
   border-radius: 6px;
}
h3.price-title.selected:after{
  
    border-top: 12px solid rgb(240,53,58);
}

.pricing-top{
    position: relative;
    text-align: center;
}
.pricing-top .price-box{
    font-size: 12px;
    font-weight: 600;
    padding:40px 20px;
    position: relative;
    text-align: center;
}

.pricing-top .price-box .currency{
    position: relative;
    top:-20px;

}
.pricing-top .price-box .price{
    font-size: 36px;
    font-weight: 600;
}


.pricing-box.selected .pricing-list{
    border-radius: 6px;
    background: rgba(231,231,231,1)
}
.pricing-box.selected .pricing-list > span{
     border-bottom: 1px solid rgba(0,0,0,.04);
}
.pricing-list > span{
    padding: 15px 4px;
    border-bottom: 1px solid rgb(231,231,231);
    display: block
}
.pricing-list span:first-child{
    border-top: 10px solid rgba(231,231,231,.5);
}



@media(max-width: 992px){
    .pricing-box{
        margin-bottom: 50px;
    }
}




/*
====================================================================
    PROCESS ITEMS
====================================================================*/

.feature-option4 .feature-box{
    text-align: left;
}
.feature-option4 .feature-box .icon{    
    background: rgb(240,53,58);
    border: 1px solid rgb(240,53,58);
    color: #fff;
    font-size: 24px;
    width: 64px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    vertical-align: middle;
    border-radius: 100%;
    margin-bottom: 20px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    float: left;
    margin-right: 20px;
}

.feature-box .icon-text{
    overflow: hidden;
}
.feature-box .icon-text h3{
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}
.feature-option4 .feature-box:hover .icon {
    color: rgb(240,53,58);
    background-color: transparent;
}
.feature-option4 .feature-box:hover .icon-text h2 {
    color:rgb(240,53,58);
}

.dark.feature-option5 h3{
    color: #fff !important
}
.dark.feature-option5 p{
    color: #fff;
    opacity: .6
}

.process-wrapper{
    
    /*border-bottom: 1px solid #eaeaea*/
}

.process-item{
    position: relative;
    height: 180px;
    padding-top: 20px;
}

.process-item .tm:after{
    bottom: -12px;
    left: -7px;
    font-family: 'FontAwesome';
    content: "\f192";
    font-size: 16px;
    background: none;
    position: absolute;
    color: #ccc
}

.process-item{
    border-bottom: 1px dashed #ccc;/*
    z-index: 105*/
}
.process-wrapper .icon{
    z-index: 5;
    position: relative;
}

.process-wrapper .feature-box:hover .icon {
    color: rgb(240,53,58);
    background-color: #fff;
}

.process-item:last-child:before{
    content: ''
}

.process-item .icon-text{
    overflow: hidden;
    z-index: 10;
    position: relative;
    
}

.process-item .process-num{
    font-size: 96px;
    font-weight: 600;
    color: rgba(172,172,172,.2);
    z-index: 1;
    position: absolute;
    bottom: 24px;
    left: 50%;

}
.process-item:last-child{
    border-right: 0
}

.process-wrapper .tm{
    position: absolute;
top: 15%;
left: 48px;
width: 1px;
height: 85%;
border-right-width: 1px;
border-right-style: dashed;
border-color: #ccc;

}

.process-wrapper .tm.color{
border-color: rgb(172,172,172)
}

.process-item .tm.color:after{
   
    color: rgb(172,172,172)
}

.process-item.color{
    border-bottom: 1px dashed rgb(172,172,172)
}

@media(max-width: 992px){
    .process-wrapper .tm{
top: 0;
height: 100%
}

.process-item .tm:after{
    bottom: 40px;
    left: -7px;
    font-family: 'FontAwesome';
    content: "\f13a";
    font-size: 16px;
    background: none;
    position: absolute;
    color: rgb(240,53,58);
}

.process-item,
.process-item.color{
    padding-top: 0px;
    border-bottom: 0
}
}
/*
=====================================================================
    PAGE 404
=====================================================================*/
.page404{
    position: relative;
    text-align: center;
}
.page404 h1.pagetxt {
    font-size: 172px;
    color: rgba(0,0,0,.3);
}
.page404 i.fa{
    color: #ccc;
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 50px;
    width: 120px;
    height: 120px;
    line-height: 120px;
    top: 100px;
    position: relative;
    background-color: #fff;
    border: 2px solid #fc3250;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    z-index: 1
}

.page404:hover .fa{
    color: #fc3250 
}

.page404  .white{
    color: #fff !important;
    background: transparent;
    border-bottom: none;
    z-index: -1;
    text-indent: -99999;
}

.page404-inner{
    margin-top: 80px;
}

@media(max-width: 767px){
    .page404 h1.pagetxt {
        font-size: 102px;
        color: rgba(0,0,0,.3);
    }
    
    .page404 i.fa {
        opacity: .5;
        border: 2px solid #fc3250;
    }

    .page404{
        
        text-align: center;
    }
}

/*
=====================================================================
    SCROLL TO TOP
=====================================================================*/   

#back-top {
    position: fixed;
    bottom: 10px;
    right: 15px;
    margin-left: 0px;
    z-index: 9898989;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: rgba(0,0,0,.5);
}
#back-top a {
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    /* background color transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#back-top a:hover {
    color: #000;
}
/* arrow icon (span tag) */
#back-top .fa {
    display: block;
    line-height: 40px;
    font-size: 18px;
   z-index: 100;
    /* background color transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}


/*
=====================================================================
    HEADER SHADOW
=====================================================================*/
.header-shadow            {
                              -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
                              -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
                              box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
                          }


@media (max-width: 991px)                             { 
    .fixedHeader   { position: static }
}


/*
=====================================================================
    CAMERA SLIDER / HOME PAGE
=====================================================================*/
.rotator-wrapper          {
                              
                              background: #1d212a;
                              position: relative;
                              overflow: hidden;
                              border-bottom: 3px solid rgb(234,234,234);
                          }
.camera_wrap              { max-height: 500px }
#back_to_camera           {
                              clear: both;
                              display: block;
                              height: 80px;
                              line-height: 40px;
                              padding: 20px;
                              margin-bottom: 20px;
                          }
#slider-wrap              {
                              overflow: hidden;
                              position: relative;
                              max-height: 500px;
                          }
.camera_caption           {
                              width: 80%;
                              display: block;
                              position: absolute;
                              top: 20%;
                              left: 10%;

                          }
.camera_caption > div     { background: transparent }
.cap-title h1             {
                              font-size: 100px;
                              color: #000;
                              text-transform: uppercase;
                              margin: 0;
                              margin-bottom: 20px;
                          }

.cap-title h2             {
                              font-size: 24px;
                              font-weight: 400;
                              color: #000;
                              text-transform: uppercase;
                              margin: 0;
                              margin-bottom: 20px;
                          }                          
.cap-title span.highlight {
                              font-weight: 900;
                              color: rgb(11,28,51);
                              display: inline-block !important;
                              border-bottom: 4px solid rgba(0,0,0,.2);
                              padding-bottom: 20px;
                          }
.cap-title-2              {
                              font-size: 14px;
                              color: #333;
                              margin-bottom: 10px;
                              line-height: 24px;
                          }

@media(max-width: 768px){
    .camera_caption           {
                              width: 90%;
                              display: block;
                              position: absolute;
                              top: 10%;
                              left: 0%;
                          }
.cap-title h1             {
                              font-size: 24px;
                              font-weight: 400;
                              color: #000;
                              text-transform: uppercase;
                              margin: 0;
                              margin-bottom: 10px;
                          }        
                          .cap-title h2             {
                              font-size: 18px;
                              font-weight: 400;
                              color: #000;
                              text-transform: uppercase;
                              margin: 0;
                              margin-bottom: 10px;
                          }       
.cap-title span.highlight {
                              font-weight: 700;
                              color: #fc3250;
                              display: inline-block !important;
                              border-bottom: 4px solid rgba(0,0,0,.2);
                              padding-bottom: 2px;
                          }
    .cap-title-2              {
                              font-size: 14px;
                              font-weight: 400;
                              color: #333;
                              margin-bottom: 10px;
                              line-height: 18px;
                          }
}

.camera_prevThumbs, .camera_nextThumbs, .camera_prev, .camera_next, .camera_commands, .camera_thumbs_cont {
    background: #f0353a;
    background: rgb(240,53,58);
}


/*
=====================================================================
    LEFT ICONS / CONTACT US
=====================================================================*/
.left-icon-block      {
                          position: relative;
                          padding: 8px 0 10px 60px;
                      }
.left-icon-block i    {
                          position: absolute;
                          left: 0;
                          top: 0;
                      }
.left-icon-block i.fa {
                          color: #333;
                          margin: 0;
                          padding: 0;
                          display: inline-block;
                          font-size: 18px;
                          width: 40px;
                          height: 40px;
                          line-height: 40px;
                          background-color: #fff;
                          border: 1px solid rgb(234,234,234);
                          text-align: center;
                          -webkit-border-radius: 50%;
                          -moz-border-radius: 50%;
                          border-radius: 50%;
                          -webkit-transition: .5s;
                          -moz-transition: .5s;
                          -ms-transition: .5s;
                          -o-transition: .5s;
                          transition: .5s;
                      }                                  



/*
=====================================================================
    team box
=====================================================================*/

.col-std                        { margin-bottom: 20px }

/*
=====================================================================
    SPINNER
=====================================================================*/

#spinner
{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/spinner.gif) 50% 50% no-repeat #fff;
}


/*
=====================================================================
    CALL ACTION BOX
=====================================================================*/

.call-action-box{
    background: #eaeaea;
    padding: 20px 0;
    width: 100%;
    position: relative;
    display: block;
    float: left;    
}

.call-action-box .btn{
    vertical-align: middle;
    margin-top: 10px;
}


.call-action-box.style-1{
    background: rgb(240,53,58);
}

.call-action-box.style-1 p{
    color: #fff
}

/*
=====================================================================
    CLIENT CAROUSEL
=====================================================================*/

.clients-carousel .client-item{
    text-align: center;
    padding: 5px;
    border: 1px solid #eaeaea;
    margin-left: 5px;
    margin-right: 5px;
}

.clients-carousel .client-item img{
    margin: 0 auto
}

.clients-carousel .owl-controls{
    margin-top: 20px;
}

